<div class="container-xxl">
  <h1>Historique par commune</h1>
  <div class="row">
    <div class="col-4">
      <app-history-search-form></app-history-search-form>
    </div>
    <div class="col-8">
      <app-map></app-map>
    </div>
  </div>
  <!-- weather-table.component.html -->
  
  <div class="container mt-4">
    <h2>Weather and Air Quality Table</h2>
    <table class="table">
      <thead>
        <tr>
          <th>City</th>
          <th>Temperature</th>
          <th>Condition</th>
          <th>Air Quality Index</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>test</td>
          <td>45°C</td>
          <td>BON </td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>test</td>
          <td>45°C</td>
          <td>BON </td>
          <td>N/A</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
