<!-- register.component.html -->
<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <app-register-form [isError]="isError"
                    (signupEvent)="signup($event)" ></app-register-form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
