<div class="d-flex justify-content-between align-items-center">
  <a [routerLink]="['/forums', forum.id]">{{ forum.title }}</a>
  <div id="action" class=" d-flex gap-2">
    <button class="btn btn-outline-secondary" disabled><i class="bi bi-gear"></i></button>
    <button class="btn btn-outline-secondary" disabled><i class="bi bi-trash3"></i></button>
  </div>
</div>




<!--
<div>
    <h2>Détails du forum</h2>
    <div *ngIf="forum">
      <h3>{{ forum.title }}</h3>
      <p>Type : {{ forum.type }}</p>
    </div>
  </div>
  -->
